{% extends 'layout.html' %} 
{% block styles %}
<link rel="stylesheet" type="text/css" href="/styles/home.css">
{% endblock %}

{% block nav %}
<section class="nav-wrapper">
	<div class="nav-left left">
		<div class="logo"></div>
	</div>
	<div class="nav-right right">
		<ul class="nav-list small">
			<li class="nav-list-item">About</li>
			<li class="nav-list-item">Sign Up</li>
		</ul>
	</div>
	<div class="clear"></div>
</section>
{% endblock %}

{% block body %}
<section class="home-wrapper">
	<section class="container intro left">
		
	</section>
	<section class="container feed right">
	</section>
	<div class="clear"></div>
</section>
{% endblock %} 

{% block scripts %}
<script type="text/javascript" src="/scripts/home/home-title/index.js"></script>
<script type="text/javascript" src="/scripts/home/feed/index.js"></script>
<script type="text/javascript" src="/scripts/home/events.js"></script>
<!-- <script type="text/javascript" src="/scripts/sockets/index.js"></script> -->
{% endblock %}
