{% extends 'layout.html' %} 

{% block styles %}
<link rel="stylesheet" type="text/css" href="css/home.css"/>
{% endblock %}

{% block nav %}
<div id="Nav" class="nav-bar nav-home"></div>
{% endblock %}

{% block body %}
<div id="App" class="ui container">
	<div id="Keywords" class="left"></div>
	<div id="Users" class="right"></div>
	<div class="clear"></div>
	<div id="Nav"></div>
</div>
{% endblock %} 

{% block scripts %}
<script type="text/javascript" src="/js/Home.js"></script>
{% endblock %}